[submodule "Frontend"]
   	path = Frontend
   	url = git@github.com:AmNotOnline/Mobile-Application-Frontend.git
    branch = main

[submodule "Backend"]
   	path = Backend
   	url = git@github.com:Kevin-Hiers/Software-Craftmanship-Backend.git
    branch = main
